<div class="container rounded bg-white mt-5 mb-5">

                   
    <div class="row">

                <div class="col-md-5 border-right">

                        <% if @user.avtar.attached? %>
                          <%= image_tag @current_user.avtar, :id => "profile_image1", :style => "border-radius: 50%;"%>
                        <% else %>
                            <img alt="User Pic" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png" id="profile_image1" height="200" width="200" border-radius="50%" ><br>
                        <% end %>
                        <br>
                        <span class="font-weight-bold">ROR Developer</span><br><%= current_user.username %> <br></span><%= current_user.email %> 
                        <%= form_for :user, :url => { :action => "user_update_profile" } do |f| %>                                
                            <%=f.file_field :avtar, :id => "profile_image_upload", :class=> "hidden"%><br>
                            <button class="btn btn-primary profile-button" id="update_user_prof ">Update</button>
                        <% end %>
             
                </div>
       
                <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">User Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Firstname</label><input name="firstName" class="form-control profile_fields" id="firstName" type="text" value="<%= @user.firstname.nil? ? "" : @user.firstname%>" disabled></div>
                    <div class="col-md-6"><label class="labels">Lastname</label><input name="lastName" class="form-control profile_fields" id="lastName" type="text" value="<%= @user.lastname.nil? ? "" : @user.lastname%>" disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" id="contact" class="form-control profile_fields" placeholder="enter phone number" value="<%= @user.contact.nil? ? "" : @user.contact%>" disabled></div>
                    <div class="col-md-12"><label class="labels">Username</label><input id="username" name="fullName" class="form-control"  id="username" type="text" value="<%= @user.username.nil? ? "" : @user.username%>" disabled></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Address</label><input type="text" class="form-control profile_fields" placeholder="country" value="<%= @user.address.nil? ? "" : @user.address%>" id="address" disabled></div>
                </div>
                <div class="mt-5 text-center button_container"><button class="btn btn-primary profile-button" id="update_user">Edit profile</button></div>
                
            </div>
        </div>
      
    </div>
</div>
</div>
</div>
<script>

$(document).ready(function() {
    localStorage.setItem("edit_form_active", false);
});
$("#update_user").on("click",  function(){
    console.log($("#profile_image_upload").val());
    if(localStorage.getItem("edit_form_active") == "true"){
        $.ajax({
            url: "/edit_user",
            type: "post",
            data: {
                firstname: $("#firstName").val(),
                lastname: $("#lastName").val(),
                contact: $("#contact").val(),
                username: $("#username").val(),
                address: $("#address").val(),
            },
            success: function(){
                location.reload();
            }
        })
    }else{
        $(".profile_fields").prop("disabled", false);
        $(this).html("Update profile");
        localStorage.setItem("edit_form_active", true);
    }


})



$("#contact").on("focus",  function(){
    var firstname = $("#firstName").val();
    var lastname = $("#lastName").val();
    var username = $("#username").val();
    if(firstname != "" && lastname != "" && username == ""){
        username = `${firstname}_${lastname}${generate_random()}`;
        $("#username").val(username);
    }
});
function generate_random(){
    return Math.floor(Math.random() * (99 - 10) + 10);
}

$(document).ready(function() {
$("profile_image").change(function(){
    let reader = new FileReader();
    reader.onload=(e)=>{
        $()
    }
})

});

    function previewFile() {
    var preview = document.querySelector('img');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();

    reader.addEventListener("load", function () {
        preview.src = reader.result;
    }, false);

    if (file) {
        reader.readAsDataURL(file);
    }
    }
    $(function() {
        $('#profile_image1').on('click', function() {
            $('#profile_image_upload').click();
        });
        $("#profile_image_upload").hide();
    });
    
    

</script>